.boards__title {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 70px;

  h1 {
    color: #333;
    font-size: 18px;
  }

  button {
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    height: 35px;
    width: 75px;
    border-radius: 8px;
    background-color: rgb(47, 128, 237);
    color: #fff;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 0.9em;

    &:hover {
      background-color: rgb(38, 109, 201);
      transition: background-color 0.2s ease;
    }

    &:active {
      border: 2px solid rgba(240, 240, 240, 0.39);
    }
  }
}

.boards {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}
