.container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: auto;
}

.card {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;

  .img__container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      margin-bottom: 10px;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(47, 128, 237);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6em;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;

    label {
      margin-bottom: 5px;
      font-size: 1.1em;
      color: rgb(71, 71, 71);
      font-weight: 500;
      margin-top: 5px;
    }

    input {
      border: none;
      background-color: transparent;
      outline: none;
      height: 35px;
      border-bottom: 2px solid rgba(196, 196, 196, 0.466);
      border-radius: 5px 5px 0 0;

      &::placeholder {
        color: #999;
      }

      &:first-of-type {
        margin-bottom: 15px;
      }

      &:focus {
        border-bottom: 2px solid rgb(47, 128, 237);
        transition: border-bottom 0.1s ease;
      }
    }

    .submit__button {
      margin: 30px auto 10px auto;
      min-width: 100%;
      height: 40px;
      border: none;
      outline: none;
      background-color: rgb(47, 128, 237);
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }
  .register__link,
  .forgot__link {
    display: block;
    width: 100%;
    margin: auto;
  }

  .forgot__link {
    color: rgb(97, 97, 97);
    margin-bottom: 2px;
  }
  .register__link {
    color: rgb(47, 128, 237);
    font-size: 18px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin: auto;
  }
  .card {
    width: 45%;
    height: 80%;
    max-width: 420px;
    margin: auto;
    background-color: rgb(252, 252, 252);
    padding: 40px 20px 40px 20px;
    box-shadow: 0px 0px 3px 3px rgb(250, 250, 250);

    form {
      width: 80%;
      input {
        border-bottom: 2px solid rgba(221, 221, 221, 0.466);
      }
      .submit__button {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
          transition: opacity 0.2s;
        }
      }
    }
    .register__link,
    .forgot__link {
      width: 80%;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: opacity 0.2s;
      }
    }
  }
}
