.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  width: 100%;
  min-height: 50%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;

  .img__container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      margin-bottom: 20px;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(47, 128, 237);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    label {
      margin-bottom: 5px;
      font-size: 1.2em;
      color: rgb(44, 44, 44);
      font-weight: 500;
      margin-top: 5px;

      &:nth-of-type(3) {
        margin-top: 15px;
      }
    }

    input {
      border: none;
      background-color: transparent;
      outline: none;
      height: 35px;
      border-bottom: 2px solid rgba(196, 196, 196, 0.466);
      border-radius: 5px 5px 0 0;

      &:first-of-type {
        margin-bottom: 15px;
      }

      &:focus {
        border-bottom: 2px solid rgb(47, 128, 237);
        transition: border-bottom 0.1s ease;
      }
    }

    button {
      margin: 30px auto;
      min-width: 100%;
      height: 40px;
      border: none;
      outline: none;
      background-color: rgb(47, 128, 237);
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }
  a {
    display: block;
    width: 80%;
    margin: auto;
    color: rgb(47, 128, 237);
    font-size: 18px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 35%;
    min-width: 35%;
    margin: auto;
  }

  form {
    button {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        transition: opacity 0.2s;
      }
    }

    a {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: opacity 0.2s;
      }
    }
  }
}
