@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

*::placeholder {
  font-size: 0.9em;
}

.submit__disabled {
  border-radius: 10px;
  font-size: 18px;
  height: 40px;
  min-width: 100%;
  margin: 30px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 10px;
  }
}
